<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Shorten Url</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div
      class="container-fluid d-flex bg-primary vh-100 align-items-center justify-content-center"
    >
      <div class="container flex-column d-flex align-content-center">
        <form
          class="container d-flex align-content-center"
          action="{% url 'shorten' %}"
          method="post"
        >
          {% csrf_token %}
          <input
            class="form-control"
            type="text"
            name="url"
            placeholder="Enter url to be shortened"
            aria-label="default input example"
          />
          <button type="submit" class="btn btn-secondary m-lg-1">
            Shorten
          </button>
        </form>
        <form class="d-flex container-fluid justify-content-center align-items-center" action="{% url 'allurls' %}">
          <button class="btn btn-secondary m-lg-1" >View Shortened Urls</button>
        </form>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
